@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}
body{
    display: flex;
    background-color: #F5F5F5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container{
    width: 75%;
}
.image{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#close-btn{
    position: fixed;
    top: 3vw;
    right: 3vw;
}
#close-btn img{
    height: 6vw;
    width: 6vw;
    max-width: 50px;
    max-height: 50px;
}
img{
    width: 18vw;
    height: 18vw;
    object-fit: cover;
}
.image-container{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgUpload, #videoUpload, #menuUpload{
    cursor: pointer;
}
.imgUpload, .videoUpload, .menuUpload{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.restaurant-img{
    font-size: 1vw;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    font-size: 1.25vw;
}
.title{
    font-weight: 700;
    margin-bottom: 10px;
}
.input-form{
    height: 4vw;
    max-height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #D9D9D9;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 2.5vh;
}
.hours{
    display: table;
    margin-bottom: 20px;
    text-align: left;
}
.form-group{
    display: table-row;
}
.form-control{
    display: table-cell;
}
.custom-select {
    position: relative;
    display: inline-block;
}
.select-selected {
    background-color: #f1f1f1;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-bottom: 20px;
}
.select-items {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.select-items div {
    padding: 5px 20px;
    cursor: pointer;
}
.select-items div:hover {
    background-color: #FFF177;
}
.textbox{
    height: 10vw;
    border-radius: 20px;
    border: none;
    background-color: #D9D9D9;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 2.5vh;
    margin-bottom: 0.75vw;
}
.menu-scroll{
    display: flex;
    flex-direction: column;
}
.add-menu{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F5F5F5;
    justify-content: center;
    margin: 0;
    box-shadow: none;
}
.add-btn{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 1vw;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    font-weight: 700;
    color: #000000;
    background-color: #FFF177;
    border-color: #000000;
    border-style: solid;
    margin: 10px;
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4)
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
#save, #cancel {
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
    font-size: 1vw;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    font-weight: 700;
    border-style: solid;
}
#save {
    background-color: #57D181;
}
#cancel {
    background-color: #D15757;
}
#remove{
    width: 20px;
    height: 20px;
}
.update{
    display: flex;
    background-color: #F5F5F5;
    justify-content: flex-end;
    margin: 0;
    box-shadow: none;
}
.update-btn{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 1.25vw;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    font-weight: 700;
    color: #000000;
    background-color: #57D181;
    border-color: #000000;
    border-style: solid;
    margin: 10px;
    cursor: pointer;
}
#remove-menu, #edit-menu {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0px 5px;;
}

@media (max-width: 800px){
    .form{
        margin-top: 4vw;
        font-size: 2.5vw;
    }
    .title{
        margin-bottom: 0.75vw;
    }
    .input-form{
        margin-bottom: 1vw;
        height: 6vw;
        font-size: 2.5vw;
    }
    .restaurant-img{
        font-size: 2.5vw;
        margin-bottom: 5vw;
    }
    .image{
        flex-direction: column;
    }
    .hours{
        margin-bottom: 1vw;
    }
    .add-btn{
        font-size: 2vw;
    }
    .update-btn{
        font-size: 2.5vw;
    }
    img {
        width: 25vw;
        height: 25vw;
    }
    #save, #cancel {
        font-size: 2vw;
    }
    .textbox{
        font-size: 2.5vw;
    }
}