/* .menu {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container img {
    border-radius: 5px 5px 0 5px;
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}
#imageUpload {
    display: none;
}
#file-input-label {
    border: 1px solid black;
    border-radius: 4%;
    font-size: 1vw;
}
.menu-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remove-menu{
    margin-bottom: 20px;
    margin-left: 20px;
}
#name, #desc{
    width: 30vw;
}
#price{
    width: 15vw;
}
@media (max-width: 800px) {
    .img-container img {
        width: 15vw;
        height: 15vw;
    }
    #file-input-label {
        font-size: 1.75vw;
    }
    .remove-menu{
        margin-bottom: 1vw;
    }
} */
.menu-info {
    padding: 20px;
    font-family: "Poppins", monospace;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.menu-name, .menu-desc {
    font-weight: 600;
    width: 25vw;
}

.menu-price {
    width: 10vw;
}

.menu {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}
.menu-img {
    border-radius: 5px 5px 0 5px;
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}
