@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
body{
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    flex-direction: column;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
    background: #F5F5F5;
}
.wrapper i:first-child{
    left: 10px;
    display: none;
}
.wrapper i:last-child{
    right: 10px;
}
.wrapper .slider{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.slider.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.slider.dragging img{
    pointer-events: none;
}
.slider img{
    height: max-content;
    object-fit: cover;
    user-select: none;
    width: 100%;
}
.desc{
    background-color: #F5F5F5;
    font-weight: 600;
    padding: 15vw;
    align-items: center;
    position: relative;
}
.desc .desc1{
    text-align: left;
    font-size: 4vw;
    padding-top: 15vh;
}
.desc .desc2{
    margin-top: 15vw;
    text-align: right;
    font-size: 3vw;
    padding-bottom: 15vh;
}
.footer{
    position: relative;
    bottom: 0; left: 0; right: 0;
}
.footer .credit{
    background-color: #313131;
    color: #ffffff;
    text-align: center;
    padding: 3vw;
    font-size: 1.5vw;
}
span{
    color: #FFF177;
    font-weight: 700;
}