@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Regular.ttf');
    src: url('../assets/font/Poppins-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
body{
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    flex-direction: column;
}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.slider {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.slider img {
    height: max-content;
    object-fit: cover;
    user-select: none;
    width: 100%;
}
#left, #right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}
#left {
    left: 10px;
} 
#right {
    right: 10px;
}
.desc{
    background-color: #F5F5F5;
    font-weight: 600;
    padding: 15vw;
    align-items: center;
    position: relative;
}
.desc .desc1{
    text-align: left;
    font-size: 4vw;
    padding-top: 15vh;
}
.desc .desc2{
    margin-top: 15vw;
    text-align: right;
    font-size: 3vw;
    padding-bottom: 15vh;
}
.footer{
    position: relative;
    bottom: 0; left: 0; right: 0;
}
.footer .credit{
    background-color: #313131;
    color: #ffffff;
    text-align: center;
    padding: 3vw;
    font-size: 1vw;
}
span{
    color: #FFF177;
    font-weight: 700;
}

@media (max-width: 800px){
    .footer .credit{
        font-size: 2vw;
    }
}