@font-face {
    font-family: 'Poppins';
    src: url('../assets/font/Poppins-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html {
    overflow-x: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    flex-direction: column;
} 
b {
    display: none;
}
.content {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
}
.restaurant-info {
    font-family: "Poppins", monospace;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 20px 0;
}
.restaurant-desc{
    margin: 20px 0;
}
.restaurant-info div {
    color: black;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    word-wrap: break-word;
    margin-bottom: 7px;
    align-content: center;
}
.restaurant-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.restaurant-video video {
    width: 70%;
    margin-right: 7px;
    object-fit: cover;
}
.restaurant-info .restaurant-name {
    font-weight: 800;
    font-size: 40px;
}
.restaurant-info .restaurant-category {
    color: #313131;
    font-size: 12px;
    font-weight: 500;
}
.menu-label{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.menu-list{
    margin-top: 10px;
}
#back-btn{
    position: fixed;
    top: 4vw;
    left: 4vw;
    background-color: #F5F5F5;
    border-radius: 50%;
    opacity: 80%;
}
#back-btn img{
    height: 50px;
}

@media only screen and (min-width: 800px) {
    .content {
        /* margin-top: 50px;
        margin-bottom: 50px; */
        width: 75%;
    }

    /* .restaurant-info {
        font-family: "Poppins", monospace;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin: 42px 0;
    }

    .restaurant-info div {
        color: black;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        word-wrap: break-word;
        margin-bottom: 7px;
        align-content: center;
    }

    .restaurant-info img {
        width: 16px;
        margin-right: 7px;
    }

    .restaurant-info .restaurant-name {
        font-weight: 900;
        font-size: 40px;
    }

    .restaurant-info .restaurant-category {
        color: #313131;
        font-size: 12px;
        font-weight: 500;
    } */
}
