@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html {
    overflow-x: hidden;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    flex-direction: column;
} 

@media only screen and (min-width: 1280px) {
    .content {
        margin: 63px 284px
    }

    .restaurant-info {
        font-family: "Poppins", monospace;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin: 42px 0;
    }

    .restaurant-info div {
        color: black;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        word-wrap: break-word;
        margin-bottom: 7px;
        align-content: center;
    }

    .restaurant-info img {
        width: 16px;
        margin-right: 7px;
    }

    .restaurant-info .restaurant-name {
        font-weight: 900;
        font-size: 40px;
    }

    .restaurant-info .restaurant-category {
        color: #313131;
        font-size: 12px;
        font-weight: 500;
    }
}
